$swal-text-color: #000;
$swal-title-font-size: 2.5em;
$swal-text-font-size: 1.2em;

$swal-backdrop-background-color: rgba(#000, .5);

$swal-container-padding: .8em 1em;
$swal-container-background-color: #fff;
$swal-container-border-radius: .25em;
$swal-container-width: 60vw;
$swal-container-height: auto;
$swal-container-min-width: 200px;
$swal-container-max-width: 600px;
$swal-container-min-height: 100px;
$swal-container-max-height: 600px;
$swal-container-transition-duration: 200ms;

$swal-buttons-text-color: #fff;
$swal-buttons-border-radius: .25em;
$swal-buttons-font-size: 1em;
$swal-buttons-padding: 10px 15px;
$swal-confirm-button-background-color: #7066e0;
$swal-deny-button-background-color: #dc3741;
$swal-cancel-button-background-color: #6e7881;

$swal-icon-size: 110px;
$swal-success-icon-color: #a5dc86;
$swal-success-stroke-width: 0.2mm;
$swal-warning-mark-color: #f8bb86;
$swal-warning-border-color: #facea8;
$swal-error-cross-color: #f27474;
$swal-error-border-color: #f27474;
$swal-info-border-color: #9de0f6;
$swal-info-mark-color: #3fc3ee;
$swal-question-border-color: #c9dae1;
$swal-question-mark-color: #87adbd;
$swal-rounded-icons-border-width: 5px;